[flake8]
max-line-length = 88
max-complexity = 24
ignore = F401, W503, E203, E501, F841, E722, C901
exclude =
    .git,
    __pycache__,
    scripts,
    logs,
    upload,
    build,
    dist,
    docs,
    migrations,
    .scrapy
